.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
  background-color: rgba(255,255,255,0.6);
}

.graph {
  padding: 0px 4px;
  margin-top: 4px;
}

.graph-info{
  align-self: center;
  margin: 10px;
}

.graph-info > span {
  padding: 4px;
}

@media all and (max-width:480px) {
  .graph-info span, .graph-nfo i {
    font-size: 0.8rem;
    padding: 2px;
    margin: 0px;
  }
}