.today-component-container{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  color: white;
}

.icon-desc-container, .date-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.date-container{
  font-size: 1.6rem;
  color: white;
}

.weather-icon, .weather-desc{
  margin: 10px 0px;
  padding: 10px;
}

.weather-icon{
  font-size: 11em;
}

.weather-desc{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.temp-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.temp-text{
  font-size: 8rem;
  align-self: center;
}

.high-low-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1rem;
}

.high-low-item{
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-around;
  margin: 4px;
  border-radius: 2px;
  border-bottom: 2px solid orange;
  background-color: rgba(255,255,255,0.7);
}

.high-low-item i {
  font-size: 1.3rem;
}

.extra-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

.extra-info-item{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4px;
  margin: 4px;
  border-radius: 2px;
  border-bottom: 2px solid orange;
  background-color: rgba(255, 255, 255, 0.7);
}

.high-low-item > span, .extra-info-item > span{
  padding: 4px;
  margin: 4px;
}

.wi-direction-up {
  color: darkgreen;
}

.wi-direction-down{
    color: darkgreen;
}
.wi-humidity{
    color: darkblue;
}
.wi-barometer{
    color: darkorange;
}
.wi-strong-wind{
    color: forestgreen;
}

@media all and (max-width:768px){
  .today-component-container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .date-container,.extra-info-container{
        flex: 100%;
    }

    .icon-desc-container,.temp-container{
        flex: 50%;
    }

    .high-low-container{
        justify-content: center;
    }

    .extra-info-container{
        flex-direction: row;
    }
    .extra-info-item{
        flex: 30%;
    }
}

@media all and (max-width:480px){
    .today-component-container{
        flex-direction: column;
    }

    .extra-info-container{
        flex-direction: column;
    }

    .extra-info-item{
        flex: 100%
    }
}